
<div class="row">
  <div class="col col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">My Races</h3>
      </div>
      <div class="panel-body">
        <ul class="list-race">
          <div class="well" style="text-align:center;" ng-if="noraces">
            <p>You currently do not have any races!</p>
          </div>
          <li class="list-race-item" ng-repeat="race in races"><a ui-sref="race.view({raceId: race.name})">{{ race.data.name }}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-body">
        <button class="btn btn-primary btn-block" ui-sref="find()"><i class="fa fa-sign-in"></i> JOIN RACE</button>
        <button class="btn btn-primary btn-block" ui-sref="raceCreate()"><i class="fa fa-flag-checkered"></i> START RACE</button>
      </div>
    </div>
  </div>
</div>
